


    body {
      background-color: burlywood;
      width: 80%;
      height: auto;
      margin: auto;
      font-size: 1.4em;
      font-family: Roboto;
    }
    p {
      font-family: Roboto;
      font-size: 1em;
    }
    footer{
      font-size: 0.8em;
      float: center;
    }
    h1 {
      font-size: 1.4em;
    }
    .bun_list {
      font-size: 12pt;
    }
    .bun_row {
      width: 100%;
      float: left;
      overflow: auto;
    }
    .a_bun{
      background-color: moccasin;
      float: left;
      overflow: auto;
      border-top: 60px;
      border: 10px;
      margin: 10px;
      width: 30%;
    }
