/* Buntastic CSS */
/*
    selector {
      property: foo;
    }
    .class
    #id
    multiple , p - use comma
    child p - no comma
*/

/*https://material.io/color/#!/?view.left=0&view.right=0&primary.color=424242&secondary.color=FBC02D*/



/* Main html Tags */
    body {
      background-color: white;
      width: 80%;
      height: auto;
      margin: auto;
      font-size: 1.4em;
      color: black;
      font-family: 'Merriweather', 'Roboto', serif;
    }
    p {
      font-size: 14px;
    }

    header{
      font-size: 20px;
      text-align: center;
    }

/*    Menu    */
    header, nav{
      text-align: center;
      background: white;
      margin: 20px 0;
      padding: auto;
    }
    nav a {
      /*text-decoration: underline;*/
      color: white;
      padding: 8px 20px;;
    }
    footer{
      font-size: 0.8em;
      margin: auto;
      text-align: center;
    }
    h1 {
      font-size: 1.4em;
    }
    .menu{
      overflow: hidden;
    }
    .menu a {
      display: block;
      color: black;
      font-weight: bold;
      text-decoration: bold;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    nav a:hover {
      background-color: #ddd;
      color: black;
    }

/* Classes */

    .bun_list {
      font-size: 12pt;
    }
    .bun_row {
      width: 100%;
      float: left;
      overflow: auto;
    }
    .a_bun{
      background-color: lightblue;
      float: left;
      overflow: auto;
      border-top: 60px;
      border: 10px;
      margin: 10px;
      width: 30%;
    }

/*    IDs   */

    #logo {
      margin: 0 auto;
    }
